.menu-horizontal ul{
    list-style: none;
    border-radius: 6%;
    height: 35px;
    padding-top: 6px;
   
    background-color: rgb(46, 44, 44);
    text-align: center;
}
.menu-horizontal li{
    display: inline-block;

}
.menu-horizontal li a{
    text-decoration:none;
   
    background-color:  rgb(46, 44, 44);
    color: #ffffff;
}
.boton {
    text-decoration:none;
    bottom: auto;
    border-radius: 9%;
    border: 1px solid black;
    padding: 3px;

}
.boton-primario{
    
    background-color: rgb(78, 159, 235);
    color: #ffffff;
   

}
.boton-secundario{
    color: black;

}


