
html{
    background-color: rgb(32, 32, 32);
    color: #ffffff;
    text-align: center;
}
div{
    display: flex;          
    flex-direction: row;    
    gap: 100px;  
}
.box{
    width: 300px;
    height: 200px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    

}
.transition-box {
transition: all 0.3s ease;
background-color: rgb(89, 99, 240);

}
.transition-box:hover {
transform: scale(1.1);
background-color: #e74c3c;
}
.animation-box{
    background-color: #093109;
    transition: all 0.3s ease;
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
0%, 100% { transform: translateY(0); }
50% { transform: translateY(-20px); }
}
@keyframes pulse{
0%, 100% { transform: scale(1); opacity: 1.05;}
50% { transform: scale(1.25); opacity: 0.25;}
}
.pulse-box{
    background-color: #520561;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}