// Importa los parciales
@import 'variables';
@import 'base';

// Estilos específicos de la página
header {
  background-color: $primary-color;
  color: white;
  padding: $spacing;
  text-align: center;
}